# Compiled source files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar *.war *.ear

# JVM crash logs
hs_err_pid*

# Maven
target/ !.mvn/wrapper/maven-wrapper.jar .mvn/ .settings/

# IntelliJ IDEA
.idea/ *.iws *.iml *.ipr out/

# NetBeans
nbproject/private/ build/ nbbuild/ dist/ nbdist/ .nb-gradle/

# VS Code
.vscode/

# Eclipse
.classpath .project

# OS-specific files
.DS_Store Thumbs.db

# Backup and temporary files
*.bak *.swp *.swo *.tmp *~
